dist
node_modules
*.config.js
*.config.ts
build
coverage
.netlify
.github
durable-extension
frontend/dist
workers
*.min.js
.archive
.next
deployment-ready
supabase/functions
docs
marketing-site
support_bundle
