#:schema node_modules/wrangler/config-schema.json
name = "elevate-for-humanity"
compatibility_date = "2024-11-12"
pages_build_output_dir = ".vercel/output/static"

# Uncomment to use Cloudflare Pages
# [env.production]
# routes = [
#   { pattern = "elevateconnectsdirectory.org", custom_domain = true }
# ]
