apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: efh-web
  namespace: efh-prod
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: efh-web
  minReplicas: 3
  maxReplicas: 15
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
